{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление задач</title>
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
</head>
<body>
    <h1>Удаление задач</h1>
    <br>
    <br>
    <div class="sure">
        <p>Вы уверены, что хотите удалить {{item}}</p>
    </div>
    <div class="links">
        <a href="{% url 'list' %}"></a>
    </div>
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Удалить задачу">
        </form>
        <br>
    </div>
</body>
</html>
